* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
  
}
body{
  background-image: url("./assets/bcg1.png");
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
  color: aliceblue;
}

li{
  
  display: inline;
  padding: 0px 50px;
  list-style: none;
  color: orange;
  justify-content: space-between;
}

.hero-heading{
  padding: 10px 100px;
  font-family: "Dela Gothic One";
  display: block;
  color:#FFC233;
  text-align: center;
  /* font-weight:500; */
  font-size: 100px;

}

button{
  border: 0px;
  color: aliceblue;
  background-color: #FF505F;
  /* font-family:  "Dela Gothic One"; */
  font: bolder;
  font-size: large;
  padding: 10px 50px;
}
.button-large{
  position: relative;
  display: block;
  font-size: 30px;
  margin-left: 40vw;
  padding: 20px 50px;
  align-items: center;
}

.bottom div{
  display: flex;
  /* display: block; */
  justify-content: right;
  margin-left: 10px;
}
.burger{
  display: none;
}
@media screen and (max-width:800px) {

  .burger{
    /* float: right; */
    display: block;
  }
  
  ul{
    display: none;
  }
  .button-small{
    display: none;
  }
  .navbar{
    position: fixed;
    top: 0;
    margin-top: 0;
    background-color: black;
    width: 100%;
    padding: 10px 20px;
    /* justify-content: ; */
    align-items: center;
  }
  .hero{
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .hero-heading{
    font-size: 50px;
    font-weight: 400;
  }
  .button-large{
    margin-left: 25%;
  }
}